<meta charset="UTF-8">
<link rel="stylesheet" href="../../../public/css/style.css">

<h1>LOGIN</h1>
<form class="form">
    <div class="input-field">
        <input type="text" class="form-control" id="user" name="username" required>
        <label for="user">Usuário</label>
    </div>
    <div class="input-field">
        <input type="password" class="form-control" id="password" name="password" required>
        <label for="password">Senha</label>
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
</form>

<script type="module" src="./login.js"></script>