<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>

<body>
    <h1>Leitores</h1>

    <form class="form">

        <div class="input-field">
            <input type="text" name="nome">
            <label>Nome:*</label>
        </div>

        <div class="input-field">
            <input type="text" name="cpf">
            <label>CPF:</label>
        </div>

        <!-- inputs para endereco, cidade, estado, telefone, email, cpf, categoria, data de nascimento -->

        <div class="input-field">
            <input type="text" name="endereco" required>
            <label>Endereço:</label>
        </div>

        <div class="input-field">
            <input type="text" name="cidade" required>
            <label>Cidade:</label>
        </div>

        <div class="input-field">
            <input type="text" name="estado" required>
            <label>Estado:</label>
        </div>

        <div class="input-field">
            <input type="text" name="telefone" required>
            <label>Telefone:</label>
        </div>

        <div class="input-field">
            <input type="text" name="email" required>
            <label>Email:</label>
        </div>

        <div class="input-field">
            <input type="text" name="categoria" required>
            <label>Categoria:</label>
        </div>

        <div class="input-field">
            <input type="text" name="data_nascimento" required>
            <label>Data de Nascimento:</label>
        </div>

        <button class="btn btn-primary" type="button" id="registrarLeitor">Registrar</button>


    </form>

</body>

<script type="module" src="./criar_leitor.js"></script>