<meta charset="UTF-8">
<link rel="stylesheet" href="../../../public/css/style.css">

<link rel="stylesheet" href="./lancar_ponto.css">

<div>

    <div id="infoPonto">
        Obra:<h2 id="nomeObra">Obra X</h2>
        Colaborador:<h2 id="nomeColaborador">Nome do colaborador</h2>
    </div>

    <div class="selecionarData">

        <div class="intervalo-datas">
            <div>
                <label for="dataInicial">Selecione a data</label>
                <input type="date" id="dataInicial">
            </div>
            <div>
                <label for="dataFinal">Data final</label>
                <input type="date" id="dataFinal" disabled>
            </div>
        </div>

        <div class="dias-semana">
            <button id="segunda">2ª</button>
            <button id="terca">3ª</button>
            <button id="quarta">4ª</button>
            <button id="quinta">5ª</button>
            <button id="sexta">6ª</button>
        </div>

        <h3 class="" id="dataSelecionada">__ de __ de ____</h3>

    </div>

    <div class="lancarDiaria">
        <h2>Lançar: matutino e vespertino</h2>

        <div class="circulo">
            <button id="matutino" class="up">Matutino</button>
            <button id="vespertino" class="down">Vespertino</button>
        </div>

    </div>

</div>

<script type="module" src="./lancar_ponto.js"></script>