<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>

<body>
    <h1>Cadastrar colaborador</h1>

    <form class="form">

        <div class="input-field">
            <input type="text" name="nome" required>
            <label>Nome:</label>
        </div>

        <div class="input-field">
            <input type="text" name="cpf" required>
            <label>CPF:</label>
        </div>

        <div class="input-field">
            <input type="text" name="telefone" required>
            <label>Telefone:</label>
        </div>
        
        <div class="input-field">
            <input type="text" name="endereco" required>
            <label>Endereço:</label>
        </div>

        <div class="input-field">
            <input type="number" name="diaria" required>
            <label>Diária: R$ (em centavos)</label>
        </div>

        <div class="input-field">
            <input type="text" name="funcao" required>
            <label>Função:</label>
        </div>

        <div class="input-field">
            <textarea name="observacoes" cols="30" rows="5" required></textarea>
            <label>Observações:</label>
        </div>

        <input type="submit" value="Cadastrar">

    </form>

</body>

<script type="module" src="./criar_colaborador.js"></script>